STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgresql://neondb_owner:npg_hp8mQGder6ca@ep-autumn-grass-az7qsl52-pooler.c-3.ap-southeast-1.aws.neon.tech/sasabysakshidb?sslmode=require&channel_binding=require
DB_NAME=sasabysakshidb
